
{{#partial "content"}}
    {{#if normal}}
        <table class="table text-center">
            <h4 class="text-center">Below are all the non-endangered animals spotted by our rangers</h4>
            <thead class="thread-dark">
            <tr>
                <th scope="col">Name</th>


            </tr>
            </thead>
            <tbody>
            {{#each normal}}
                <tr>
                    <td>{{name}}</td>


                </tr>
            {{/each}}
            </tbody>
        </table>
    {{else}}
        <h5 class="text-center">There are no animals sighted yet..Report a sighting here.</h5>
    {{/if}}

{{/partial}}

{{> layout.hbs}}
