{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Sacred jungle{{/block}}</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel='stylesheet' href='/app.css'>
    </head>
{{/block}}

<body>

<div class="container-fluid">
    <nav class="navbar static-top navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            View Animals</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Endangered</a>
            <a class="dropdown-item" href="#">Not Endangered</a>
        </div>
    </li>
    <li class="nav-item active"><a class="nav-link" href="/rangers">Our Rangers</a></li>
    <li class="nav-item"><a class="nav-link" href="/sightings">Sighting Locations</a></li>
    <li class="nav-item"><a class="nav-link" href="/sighting/new">New Sighting</a></li>
    </nav>
    <div class="jumbotron ">
        <div class="container">
            <h1 class="display-3">Sacred Jungle!</h1>
            <p class="lead">The animal conservancy</p>
        </div>
    </div>
</div>





<!--        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                {{#block "navlinks"}}-->
<!--                {{/block}}-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->



    <div class="container" id="contentContainer">
        {{#block "content"}}
        {{/block}}
    </div>




{{#block "footer"}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    </body>
    </html>
{{/block}}