
{{#partial "content"}}
    <h3 class="text-center">Report a new sighting!</h3>
    <form action="/sighting/new" method="post">
        <div class="form-group">
            <label for="animalName">Animal Name</label>
                <input type="text" id="animalName" name="animalName" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="animalAge">Animal Age</label>
            <select name="animalAge" id="animalAge" class="form-control" required>
                <option value="Newborn">New born</option>
                <option value="Youngadult">Young adult</option>
                <option value="Elderly">Elderly</option>
            </select>
        </div>
        <div class="form-group">
            <label for="animalHealth">Animal Health</label>
            <select name="animalHealth" id="animalHealth" class="form-control" required>
                <option value="Healthy">Healthy</option>
                <option value="Sick">Sick</option>
                <option value="Vergeofdeath">Verge of death</option>
            </select>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
                <input type="text" id="location" name="location" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="rangerName">Ranger</label>
            <input type="text" id="ranger" name="ranger" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
{{/partial}}

{{> layout.hbs}}